/* 폰트 가져오기 */
@font-face {
    font-family: "NeoDGM";
    src: url("neodgm.ttf") format("truetype");
  }
  
  /* 공통 스타일 */
  body,
  html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("play_background.png"); /* 배경 이미지 추가 */
    background-size: cover; /* 화면에 꽉 차게 */
    background-position: center; /* 이미지 가운데 정렬 */
    background-repeat: no-repeat; /* 반복 방지 */
    overflow: hidden;
    font-family: "NeoDGM", sans-serif; /* 기본 폰트 설정 */
  }
  
  .aspect-ratio-box {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  /* 상단 시간 및 보유 골드 스타일 */
  .display-container {
    display: flex;
    flex-direction: row; /* 좌우 배치로 변경 */
    gap: 20px;
    margin-top: 10px; /* 상단 공간 추가 */
  }
  
  /* 상단 시간 및 보유 골드 표시 */
  .display {
    padding: 5px 10px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: "NeoDGM", sans-serif; /* 폰트 설정 추가 */
    text-align: center;
    background-color: #ffd700;
    border: 3px solid #b8860b;
    border-radius: 8px;
    white-space: nowrap; /* 줄바꿈 방지 */
  }
  
  /* 하단 버튼 스타일 */
  .button-container {
    display: flex;
    gap: 40px; /* 버튼 간의 간격 */
    margin-bottom: 20px; /* 하단 공간 추가 */
  }
  
  .button {
    padding: 30px 30px;
    font-size: 40px;
    font-weight: bold;
    font-family: "NeoDGM", sans-serif; /* 폰트 설정 추가 */
    color: white;
    background-color: #418f43;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    white-space: nowrap; /* 줄바꿈 방지 */
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  /* 캐릭터 이미지 스타일 */
  .character {
    position: absolute;
    top: 80px; /* 위치 */
    max-width: 100px; /* 캐릭터 크기 조절 */
    transition: left 0.2s; /* 이동 부드럽게 */
  }
  
  /* 모바일 환경 */
  @media (max-width: 768px) {
    .aspect-ratio-box {
      width: 100vw;
      height: calc(100vw * 16 / 9);
    }
  }
  
  /* PC 환경 */
  @media (min-width: 769px) {
    .aspect-ratio-box {
      height: 100vh;
      width: calc(100vh * 9 / 16);
      max-width: 100vw;
    }
  }
  